<div class="pagename">
  <h1>Discover your destination</h1>
  <div class="location"> Location name </div>
  <div class="map"></div>
  <div class="notes"><h4>NOTES</h4></div>
  <div class="noteboxes">Create note partial here</div>
  <div class="api">API FEED GOES HERE</div>
  <div class="foursq">Foursquare recommended places:</div>
  <div class="yelp">Yelp recommended places:
  <br><%= @yelp.businesses.first.name %>
  </div>
  <div class="instagram">Instagram recommended places:<br>
  <%= link_to image_tag @results %>
  </div>

  <div class="ramble">
    <button type="button" onclick="alert('Saved!')">Save this ramble</button>
   <span>or</span></div>
  <form class="search-form">
    <div class="location-search">
      <input type="text" placeholder="Search for more">
      <input type="submit" value="Search">
    </div>
  </form>
</div>
