<div>DISCOVER</div>

<div>MAP</div>

<div>NOTES</div>

<div class="noteboxes">Create note partial here</div>

<div>API FEED GOES HERE
  <div class="foursq"></div>

<button type="button" onclick="alert('Saved!')">Save this ramble</button>

<div>or</div>

<div>Search for more:</div>

<input type="search" placeholder="Search here...">
