<div class="row" id="<%= note.persisted? ? dom_id(note) : "note-new" %>">
<div class="notebody1"> NOTES: <%= note.body %> <p>TAGS:<%= note.tag_list %> </p>
<%= link_to "Destroy", note_destroy_path(note) %></div>
</div>
