<div class="searchpage">
	<div class="header">
		<h3>Search for Notes on Locations you're interested in</h3>
	</div>
	<div class="location-search">
	<input type="text" placeholder="Search by city, state">
	<input type="submit" value="Search">
</div>
<div class="container">
	<div class="noteshow">
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
		<div class="note">Note here</div>
	</div>
</div>
</div>
