<div class="total">
<div class="login-top"></div>
<h2 id="login">Log in</h2><hr>
<h2 id="or">or</h2> <%= link_to_modal "register for a new account", new_user_path, :class => "register" %>
<%= render "logins/login_form" %>
</div>