<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1> Thank you for using ramblethru, <%= @user.name %></h1>
	<p>
		To view your ramble, just follow this link: <%= link_to 'Ramble', @ramble %>.
	</p>
</body>
</html>
