<div class="searchpage">
	<div class="note-header">
		<h1 id="note-search-title">Search for Notes</h1>
    <div id="on-locations">
      about destinations you're interested in
    </div>
	</div>
	<%= form_tag(rambles_path, :method => "get", class: "search-form", remote:true) do %>
	<div class="input-append">
		<%= text_field_tag :search, params[:search], class: "span2", placeholder: "Enter Destination name" %>
		<button class="btn" type="submit">Search</button>
	</div>
	<% end %>
  <div id="note-results">
  </div>
  <div id="no-results">
  </div>
</div>
