<div class="hero">
	<div id="header-title">
		<div id="header-title-first">Ramble</div><div id="header-title-last">Thru</div>
	</div>
	<div id="header-subtitle">crowdsourced travel planning</div>
  <div class="discover-create">
    <%= render "/discovers/create" %>
  </div>
</div>
<div class="container">
	<div class="homepage-about"><h1 class="what-we-do">What We Do</h1>
		<div id="about">
      <p>We believe that planning your trip should be intuitive and enjoyable.</p>
      <p>Ramblethru helps you find the best things to do at your destination, without clutter or dozens of open browser tabs.</p>
      <p>Life's too short to not have adventures. Make the most of them with Ramblethru. <b>Adventure awaits.</b></p>
    </div>
	</div>
		<article>
		</article>
	<section class="homepage-about-discover">
		<div class="discover">
			<h2 class="discover">Discover</h2>
				<article>
					<div id="discover-about">
            Explore recommendations from your peers about your destination.
          </div>
				</article>
			<div id="map-usa"></div>
			<div id="clicked-state"></div>
      <div id="alert"></div>
		</div>
	</section>
	<section class="homepage-about-create">
		<div class="create">
			<h2 class="create">Create</h2>
      <article>
        <div id="create-about">Build a personalized itinerary around these recommendations.</div>
      </article>
      <div class="font-awesome">
        <a href="http://www.foursquare.com/" target="_blank"><i class="fa fa-foursquare fa-5x"></i></a>
        <a href="http://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-5x"></i></a>
        <a href="http://www.yelp.com/" target="_blank"><i class="fa fa-yelp fa-5x"></i></a>
        <a href="http://www.reddit.com/" target="_blank"><i class="fa fa-reddit fa-5x"></i></a>
      </div>
		</div>
	</section>
	<section class="homepage-about-go">
		<div class="go">
			<h2 class="go">Go</h2>
				<article>
					<span class="animated bounceInUp">
            <div id="go-about">
              <p>When you're out and about, you can check your itinerary from your mobile device. No more worrying about missing something awesome.</p>
            </div>
          </span>
				</article>
				<ul>
				<li><i class="fa fa-bus animated wobble"></i></li>
				<li><i class="fa fa-plane animated lightSpeedIn"></i></li>
				<li><i class="fa fa-car animated rollIn"></i></li>
				</ul>
		</div>
	</section>
</div>
