<div class="about-header">
  <h2>About the Ramblethru Team</h2>
</div>
<br>
<div class="about-body">
  <ul>
    <li>
      <div class="greg">
        <div class="face">
          <img src="<%= asset_path ('greg_burton.jpg') %>" />
        </div>
        <br><b>Greg Burton</b>
        <p><i>Scrum master, frontend, backend</i></p>
        <div class="list">
          <ul>
            <li><a href="https://github.com/gregburton">
              <i class="fa fa-github-square fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/pub/greg-burton/25/26a/54a">
              <i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li><a href="https://twitter.com/Gregurton">
              <i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="http://about.me/gregburton">
              <i class="fa fa-external-link-square fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </li>
    <br>
    <li>
      <div class="danielle">
        <div class="face">
          <img src="<%= asset_path ('danielle_heckman.jpg') %>" />
        </div>
        <br><b>Danielle Heckman</b>
        <p><i>Project owner, design, frontend</i></p>
      </div>
    </li>
    <br>
    <li>
      <div class="noah">
        <div class="face">
          <img src="<%= asset_path ('noah_holmes.jpg') %>" />
        </div>
        <br><b>Noah Holmes</b>
        <p><i>Github master, backend</i></p>
      </div>
    </li>
  </ul>
</div>