<h2><b>About the Ramblethru team</b></h2>

<br><b>Greg Burton</b>
<img src="<%= asset_path ('greg_burton.jpg') %>" />
<p><i>Scrum master, frontend, backend</i></p>
<ul>
  <li><a href="https://github.com/gregburton">Github</a></li>
  <li><a href="https://www.linkedin.com/pub/greg-burton/25/26a/54a">LinkedIn</a></li>
  <li><a href="http://about.me/gregburton">About.me</a></li>
  <li><a href="https://twitter.com/Gregurton">Twitter</a></li>
</ul>

<br><b>Danielle Heckman</b>
<p><i>Project owner, design, frontend</i></p>

<br><b>Noah Holmes</b>
<p><i>Github czar, backend</i></p>
