<h2><b>About the Ramblethru team</b></h2>
<br>
<div class="face">
  <img src="<%= asset_path ('greg_burton.jpg') %>" />
</div>
<br><b>Greg Burton</b>
<p><i>Scrum master, frontend, backend</i></p>
<ul>
  <li><a href="https://github.com/gregburton">Github</a></li>
  <li><a href="https://www.linkedin.com/pub/greg-burton/25/26a/54a">LinkedIn</a></li>
  <li><a href="http://about.me/gregburton">About.me</a></li>
  <li><a href="https://twitter.com/Gregurton">Twitter</a></li>
</ul>

<div class="face">
  <img src="<%= asset_path ('danielle_heckman.jpg') %>" />
</div>
<br><b>Danielle Heckman</b>
<p><i>Project owner, design, frontend</i></p>

<div class="face">
  <img src="<%= asset_path ('noah_holmes.jpg') %>" />
</div>
<br><b>Noah Holmes</b>
<p><i>Github czar, backend</i></p>
