<div class="about-header">
  <h2>About the <span id="green">Ramblethru</span> Team</h2>
</div>
<br>
<div class="about-body">
  <p>Three people. Three weeks. Untold cups of coffee.</p>
  <p>The result: this website, our final project for The Iron Yard (Durham, NC). Rails Engineering, Cohort 2. Fall 2014.</p>
  <ul>
    <li>
      <div class="greg">
        <div class="face">
          <img src="<%= asset_path ('greg_burton.jpg') %>" />
        </div>
        <br><b>Greg Burton</b>
        <br><i>Scrum master, frontend, backend</i>
        <br>Has a master's degree in history.
        <br>
        <a href="https://github.com/gregburton" target="_blank">
          <i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/pub/greg-burton/25/26a/54a" target="_blank">
           <i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://twitter.com/Gregurton" target="_blank">
            <i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://about.me/gregburton" target="_blank">
            <i class="fa fa-external-link-square fa-2x"></i></a>
      </div>
      <br>
    </li>
    <br>
    <li>
      <div class="danielle">
        <div class="face">
          <img src="<%= asset_path ('danielle_heckman.jpg') %>" />
        </div>
        <br><b>Danielle Heckman</b>
        <p><i>Project owner, design, frontend</i></p>
      </div>
    </li>
    <br>
    <li>
      <div class="noah">
        <div class="face">
          <img src="<%= asset_path ('noah_holmes.jpg') %>" />
        </div>
        <br><b>Noah Holmes</b>
        <p><i>Github master, backend</i></p>
      </div>
    </li>
  </ul>
</div>