<div id="top-bar"></div>
<div class="about-header">
  <div class="iconmelon">
    <svg viewBox="0 0 32 32">
      <use xlink:href="#globe1"></use>
    </svg>
  </div>
  <h2>About the <span id="green">Ramblethru</span> Team</h2>
</div>
<div class="about-body">
  <div id="about-project">
    Three people. Three weeks. Untold cups of coffee.
    The result: this website, our final project for The Iron Yard (Durham, NC). Rails Engineering, Cohort 2. Fall 2014.
  </div>
  <ul>
    <li>
      <div class="greg">
        <div class="face">
          <img src="<%= asset_path ('greg_burton.jpg') %>" class="face"/>
        </div>
        <b class="name">Greg Burton</b>
        <i class="project-det">Scrum master, frontend, backend</i>
        <a href="https://github.com/gregburton" target="_blank">
          <i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/pub/greg-burton/25/26a/54a" target="_blank">
          <i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://twitter.com/Gregurton" target="_blank">
          <i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://gregburton.github.io/" target="_blank">
          <i class="fa fa-external-link-square fa-2x"></i></a>
        <div id="about">Tells lots of groan-worthy dad jokes, yet is not actually anyone's father.
        </div>
      </div>
      <div class="shows1" onmouseover="this.style.background='rgba(46,117,98,0.2)';" onmouseout="this.style.background='rgba(255,255,255,0.5)';">
        <div id="gif">Favorite gif:
        </div>
      </div>
      <div class="four-results">
        <li>
          <span class="fshow">
            <img src="http://www.wired.com/images_blogs/underwire/2013/01/oprahbees.gif" class="gif">
          </span>
        </li>
      </div>
      <script type="text/javascript">
        $(".shows1").click(function () {
          $(".fshow").toggle();
        });
      </script>
    </li>
    <li>
      <div class="danielle">
        <div class="face">
          <img src="<%= asset_path ('danielle.jpg') %>" class="face" />
        </div>
        <b class="name">Danielle Heckman</b>
        <i class="project-det">Project owner, design, frontend</i>
        <a href="https://github.com/dheckman" target="_blank">
          <i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/pub/danielle-heckman/" target="_blank">
          <i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://twitter.com/danielleheckman" target="_blank">
          <i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://medium.com/@danielleheckman" target="_blank">
          <i class="fa fa-external-link-square fa-2x"></i></a>
        <div id="about">Is a firm believer in coffee kegs.</div>
      </div>
      <div class="shows2" onmouseover="this.style.background='rgba(46,117,98,0.2)';" onmouseout="this.style.background='rgba(255,255,255,0.5)';">
        <div id="gif">Favorite gif:
        </div>
      </div>
      <div class="four-results">
        <li>
          <span class="yshow">
            <img src="http://s3-ec.buzzfed.com/static/2013-12/enhanced/webdr03/19/17/anigif_enhanced-buzz-19584-1387492187-3.gif" class="gif">
          </span>
        </li>
      </div>
      <script type="text/javascript">
        $(".shows2").click(function () {
          $(".yshow").toggle();
        });
      </script>
      </li>
    <li>
      <div class="noah">
        <div class="face">
          <img src="<%= asset_path ('noah_holmes.jpg') %>" class="face" />
        </div>
        <b class="name">Noah Holmes</b>
        <i class="project-det">Github master, frontend, backend</i>
        <a href="https://github.com/Noahhh" target="_blank">
          <i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/pub/noah-holmes/a7/725/58a/" target="_blank">
          <i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://twitter.com/nrnholmes" target="_blank">
          <i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="http://noahhh.github.io/" target="_blank">
            <i class="fa fa-external-link-square fa-2x"></i></a>
        <div id="about">THAT'S MY PURSE I DON'T KNOW YOU</div>
        <div class="shows3" onmouseover="this.style.background='rgba(46,117,98,0.2)';" onmouseout="this.style.background='rgba(255,255,255,0.5)';">
          <div id="gif">Favorite gif:</div>
        </div>
        <div class="four-results">
          <li id="gif-wrap">
            <span class="ishow">
              <img src="http://i.imgur.com/eMC98.gif" class="gif">
            </span>
          </li>
        </div>
        <script type="text/javascript">
          $(".shows3").click(function () {
            $(".ishow").toggle();
            if ($("#gif-wrap").is(':visible')) {
              $("html, body").animate({scrollTop: $("#gif-wrap").offset().top});
            }
          });
        </script>
      </div>
    </li>
  </ul>
</div>
