@import "bourbon";
@import "base/base";
@import "neat";
@import "font-awesome";
@import "animate";
@import "home";
@import "users";
@import "rambles";
@import "notes";
@import "discovers";
@import "pages";

$body-color: #eff0eb;

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.tagsinput
 *= require_self
 *= require bxslider
 *= require mapbox
 *= require jquery-ui/datepicker
 *= require jquery.ui.all
 *= require jquery.modal
 *= require font-awesome
 *= require animate


 *= require 'discovers'
 *= require 'rambles'

*/

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on November 26, 2014 */

@font-face {
  font-family: 'menschmensch_thin';
  src: url('mensch-thin-webfont.eot');
  src: url('mensch-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('mensch-thin-webfont.woff2') format('woff2'),
       url('mensch-thin-webfont.woff') format('woff'),
       url('mensch-thin-webfont.ttf') format('truetype'),
       url('mensch-thin-webfont.svg#menschmensch_thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'menschmensch_bold';
  src: url('mensch-bold-webfont.eot');
  src: url('mensch-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('mensch-bold-webfont.woff2') format('woff2'),
       url('mensch-bold-webfont.woff') format('woff'),
       url('mensch-bold-webfont.ttf') format('truetype'),
       url('mensch-bold-webfont.svg#menschmensch_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'menschmensch_regular';
  src: url('mensch-webfont.eot');
  src: url('mensch-webfont.eot?#iefix') format('embedded-opentype'),
       url('mensch-webfont.woff2') format('woff2'),
       url('mensch-webfont.woff') format('woff'),
       url('mensch-webfont.ttf') format('truetype'),
       url('mensch-webfont.svg#menschmensch_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas_neueregular';
  src: url('bebasneue-webfont.eot');
  src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
       url('bebasneue-webfont.woff2') format('woff2'),
       url('bebasneue-webfont.woff') format('woff'),
       url('bebasneue-webfont.ttf') format('truetype'),
       url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dingleberryregular';
  src: url('dingleberry-webfont.eot');
  src: url('dingleberry-webfont.eot?#iefix') format('embedded-opentype'),
       url('dingleberry-webfont.woff2') format('woff2'),
       url('dingleberry-webfont.woff') format('woff'),
       url('dingleberry-webfont.ttf') format('truetype'),
       url('dingleberry-webfont.svg#dingleberryregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dingleberry_solidregular';
  src: url('dingleberry_solid-webfont.eot');
  src: url('dingleberry_solid-webfont.eot?#iefix') format('embedded-opentype'),
       url('dingleberry_solid-webfont.woff2') format('woff2'),
       url('dingleberry_solid-webfont.woff') format('woff'),
       url('dingleberry_solid-webfont.ttf') format('truetype'),
       url('dingleberry_solid-webfont.svg#dingleberry_solidregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*RESPONSIVE*/

@media (max-width: 1268px) {
  i.fa-foursquare, i.fa-instagram, i.fa-yelp, i.fa-reddit {
    font-size: 90px;
    padding: 0px;
  }
   h1.what-we-do, h2.discover, h2.go, h2.create {
    font-size: 45px;
  }
  .homepage-about-discover {
    height: 525px;
  }
}
@media (max-width: 1075px) {
  i.fa-bus, i.fa-car, i.fa-plane {
    font-size: 80px;
  }
}
@media (max-width: 885px) {
  .homepage-about-discover {
    height: 550px;
  }
}
@media (max-width: 795px) {
  #header-title-first, #header-title-last {
    font-size: 120px;
  }
  #header-subtitle {
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 789px) {
  div.homepage-about {
    height: auto;
  }
}
@media (max-width: 769px) {
  .homepage-about-discover {
    height: 570px;
  }
}
@media (max-width: 730px) {
  div#go-about {
    width: 75%
  }
}
@media (max-width: 695px) {
  input#discover_destination {
    width: 200px;
    height: 45px;
  }
  div.discover-create {
    width: 500px;
  }
  input.input {
    height: 35px;
    padding: 0;
  }
}
@media (max-width: 580px) {
  #header-title-first, #header-title-last {
    font-size: 90px;
  }
  #header-subtitle {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .homepage-about-discover {
    height: 590px;
  }
}
 @media only screen
    and (min-width : 320px)
    and (max-width : 480px) {

  img.missing-pic, a.top-bar, .fa-compass, span.logspin, #lang-welcome, img.userpics{
    display: none;
  }
  div.homepage-about {
    height: auto;
  }
  article {
    width: 100%;
  }
  #about {
  width: 100%;
  }
  #go-about {
    width: 100%;
  }
  button.sliding-menu-button {
    margin-top: 80px !important;
  }
  h1.what-we-do, h2.discover, h2.go, h2.create {
    font-size: 25px;
  }
  span.best_in_place {
    display: block;
    font-size: 16px;
  }
  .container {
    width: 350px;
  }
  .userinfo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .bio {
    width: 100%;
  }
  #user-name-label, #user-residence-label, #user-bio-label {
    text-align: center;
  }
  .photo {
    width: 100%;
  }
  a.top-bar, div.top-bar {
    margin-right: 0px !important;
    font-size: 15px !important;
  }
  #header-title-last {
    font-size: 55px;
  }
  #header-title-first {
    font-size: 55px;
  }
  #header-subtitle {
    font-size: 15px;
  }
  div.discover-create {
    width: 300px;
  }
  input.input {
    height: 35px;
    padding: 0;
    margin: -10px auto 0 auto;
  }
  h1.profile {
    font-size: 40px;
    text-align: right;
  }
  .profile {
    height: 170px;
  }
  i.fa-foursquare, i.fa-instagram, i.fa-yelp, i.fa-reddit {
    font-size: 50px;
    padding: 0px;
    display: inline-block;
  }
  i.fa-bus, i.fa-car, i.fa-plane {
    font-size: 60px;
  }
  .homepage-about-create {
    height: 300px;
  }
  section.homepage-about-go {
    height: 475px;
  }
   .homepage-about-discover {
//     height: 200px;
    height: 400px;
  }
  #map-usa {
    width: 0px;
    height: 0px;
    width: 300px;
    height: 200px;
    padding-left: 20px;
    padding-top: 25px;
//    display: none;
  }
  svg
   input.input {
    height: 35px;
    padding: 0;
    margin-left: 0px;
    font-size: 20px;
  }
  .top-bar {
    display: inline;
  }
}
body {
  background-image: url('https://i.imgur.com/9OUxrEd.png');
  overflow-x: hidden;
}
.topbar {
  font-weight:bold;
  background-color: red;
}
.discover-create {
  width: 375px;
  margin: 300px auto 30px auto;
}
  a {
    font-weight: bold;
  }

  .or-signup {
    margin: -20px 0 15px 0;
  }

.tag-div {
  width: 350px;
  margin: 30px auto 30px auto;
}
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
}
.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/bcg_slide-1.jpg')}

#wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
section {
  margin-bottom: 30px
}
section h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}
section p {
  margin-bottom: 30px
}
section p:last-child {
  margin-bottom: 0
}
section:last-child {
  margin-bottom: 0
}
section.toggle {
  text-align: center
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.top-bar, a.top-bar {
  text-align: right;
  font-family: 'menschmensch_regular';
  font-size: 25px;
  text-decoration: none;
  color: $light-grey;
  link-style-type: none;
  margin-right: 10px;
  margin-top: -1px;

  a:hover {
    background-color: $orange;
    color: $light-grey;
  }
}
.fa-compass {
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}
.fa-compass:hover{
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.logspin:hover .fa-compass {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.logspin1:hover .fa-compass {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.logspin2:hover .fa-compass {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
.userpics {
  border-radius: 30px;
  margin-top: 4px;
  vertical-align: middle;
  padding-top: 1px;
}
img {
  margin-top: 4px;
}
#green {
  color: $green;
}
a.four-auth, a.twit-auth {
  color: $orange;
  display: block;
}
input[type="text"]:focus {
  background-color: transparent;
}
input.nav-destination  {
  border: 2px solid $orange !important;
  background-color: $light-grey;
  font-family: 'menschmensch_regular';
  font-size: 16px !important;
  text-align: center;
  border-radius: 10px;
  height: 35px !important;
  color: $green;
  width: 200px;
  display: block;
  float: right;
  margin-top: 3px;
}
input.nav-input {
  display: none;
}
.menu-button {
  cursor:pointer;
}
.fa-star {
  color: $orange;
  font-size: 18px;
}
$sliding-menu-border-color: $orange;
$sliding-menu-background: lighten($sliding-menu-border-color, 4);
$sliding-menu-color: #fff;
$sliding-menu-border: 2px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $orange;
$sliding-menu-color-hover: #fff;

.sliding-menu-button {
  display: block;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: $base-line-height;
  position: fixed;
  outline: none;
  border: 2px solid $light-grey;
  background: rgba(46,117,98,.6);
  border-radius: 20%;
  margin-top: -20px !important;
  z-index: 9999;

  img {
    height: 1.3em;
  }
}
.sliding-menu-content {
  @include position(fixed, 0px auto 0px 0px);
  width: 170px;
  @include transform(translateX(-220px));
  @include transition(all .25s linear);
  background: $green;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  li a {
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;
    font-family: 'menschmensch_regular';
    font-size: 20px;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}
.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}
ul.sliding-menu {
  margin-top: 0px;
}
div.alert-box.notice {
   font-weight: bold;
   font-family: monospace;
   font-size: 20px;
   color: $light-grey; 
   position: relative;
   background: rgba(175,112,58,.6);
   max-width: 550px;
   margin: 0 auto;
   border-radius: 10%;
   margin-top: -10px;
   text-align: center;
}
a.close {
  font-family: monospace, sans-serif;
  color: $light-grey;
  font-size: 20px;
}
div.modal.current {
  z-index: 4352342342 !important;
}