$visual-grid: true;
$visual-grid-color: #EEE !default;
$visual-grid-index: back !default;
$visual-grid-opacity: 0.4 !default;
@import "bourbon";
@import "base/base";
@import "neat";
@import "home";
@import "users";
@import "rambles";
@import "notes";
@import "discovers";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require mapbox
 */




@media (max-width: 500px) {
  body {
    background: red;
  }

}

.topbar {
  font-weight:bold;
}

.login-register {
  width: 350px;
  background: gainsboro;
  margin: 45px auto 0 auto;
  border-radius: 20px;
  padding: 25px 25px 25px 25px;
}