$visual-grid: true;
$visual-grid-color: #EEE !default;
$visual-grid-index: back !default;
$visual-grid-opacity: 0.4 !default;
@import "bourbon";
@import "base/base";
@import "neat";
@import "home";
@import "users";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require mapbox
 */

.pagename {
   text-align: center;
}

.map {
   background: url("http://rainelaw.files.wordpress.com/2007/11/torino_google-map.png");
   height: 450px;
   width: 800px;
   margin-left:250px;
}

.ramble {
  color:white;
  font-weight:bold;
}

.ramble span {
  color:black;
}

.notes {
  padding-top:35px;
}

.api {
  padding-top:30px;
}

.ramble {
  padding-top:30px;
}

@media (max-width: 500px) {
  body {
    background: red;
  }
}

.topbar {
  font-weight:bold;
}
