// Place all the styles related to the discovers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #af703a;

.pagename {
   text-align: center;
}

.ramble {
  color: white;
  font-weight:bold;
  margin: 0 auto;
  width: 50%;
}

.ramble span {
  color: black;
}

#map {
  width: 500px;
  height: 300px;
  margin: 0 auto 0 auto;
}

.notes {
  padding-top: 35px;
}

.api {
  padding-top: 30px;
}

.ramble {
  padding-top: 30px;
  color: black;
}

li {
  text-decoration: none;
  list-style-type: none;
}
article {
  width: 50%;
  margin: 0 auto;
}
.title {
  font-weight: bold;
}
.map {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.ramble_destination {
  color: black;
}

#ui-datepicker-div {
   width: 216px;  
    height: auto;  
    margin: 5px auto 0;  
    font: 9pt Arial, sans-serif;  
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5); 
    right: 100px;
    left: 0px;
    background-color: $orange;
}
#ui-datepicker-div table {  
    width: 100%;  
}

.discover-bottom {
  width: 375px;
  margin: 50px auto 30px auto;
}