// Place all the styles related to the discovers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #af703a;

body {
  text-align: center;
}


.ramble {
  color: white;
  font-weight:bold;
  margin: 0 auto;
  width: 50%;
}

.ramble span {
  color: black;
}

#map {
  width: 60%;
  height: 450px;
  margin: 0 auto 0 auto;
}

.notes {
  padding-top: 35px;
}

.api {
  padding-top: 30px;
}

.ramble {
  padding-top: 30px;
  color: black;
}

li {
  text-decoration: none;
  list-style-type: none;
}
article {
  width: 50%;
  margin: 0 auto;
}
.title {
  font-weight: bold;
}
.map {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.ramble_destination {
  color: black;
}

#ui-datepicker-div {
   width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    right: 100px;
    left: 0px;
    background-color: $orange;
}
#ui-datepicker-div table {
    width: 100%;
}

.discover-bottom {
  width: 500px;
  margin: 50px auto 30px auto;
}

.form-inline div {
//  width: 375px;
  display: inline-block;
}

.show {
  display:none;
}
div.modal.current {
  background: $light-grey;
  margin-left: -245px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  width: 500px;
  height: 520px;
  border-radius: 10px;
  border: 5px solid $dark-grey;
  }
.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: 'menschmensch_regular';
  color: $orange;
  font-size: 20px;
}
input.login-form {
  font-family: monospace, sans-serif;
  color: $dark-grey;
  border: 2px solid $green;
  border-radius: 10px;
  background-color: transparent;
}
.login-button {
  background-color: $orange;
  color: $green;
  height: 45px;
  line-height: .8;

  &:hover {
    background-color: $dark-grey;
  }
}
h2#login {
  text-align: center;
  font-size: 40px;
}
h2#register, a.register {
  font-size: 20px;
  color: $green;
  font-family: 'menschmensch_regular';
  margin-top: 3px;
}
a.close-modal {
  text-align: center;
  width: 100px;
  margin-top: -35px;
  font-family: 'menschmensch_regular';
  color: $green;
}
.pagename {
  background-color: $green;
  height: 170px;
  margin-top: -104px;
  text-align: center;

}
h1.discover {
  color: $orange;
  font-family: 'menschmensch_regular';
  padding-top: 70px;
  font-size: 50px;
  margin-bottom: 0px;
}
.location {
  color: $light-grey;
  font-family: monospace, sans-serif;
  font-size: 20px;
}
div.four-title, div.ins-title {
  font-size: 40px;
  font-family: 'menschmensch_regular';
  color: $green;
  margin-bottom: -20px;
}
.fa-arrow-circle-o-down {
  color: $orange;
}
div.f-title {
  color: $orange;
  font-family: monospace, sans-serif;
  font-size: 18px;
}
div.f-tips, a.f-tips {
  font-family: monospace, sans-serif;
  color: $dark-grey
}
.yelp {
  background-color: $green;
  padding-bottom: 20px;
}
div.y-title, div.red-title {
  color: $orange;
  font-family: 'menschmensch_regular';
  font-size: 40px;
  padding-top: 30px;
}
a.y-name {
  font-family: monospace, sans-serif;
  color: $light-grey;
  font-size: 18px;
  }
.y-tips {
  font-family: monospace, sans-serif;
  color: $orange;
  font-size: 16px;
  font-weight: bold;
}
.reddit {
  background-color: $green;
  height: 400px;
}
.r-desc {
  font-family: monospace, sans-serif;
  color: $orange;
  font-size: 16px;
  font-weight: bold;
  width: 450px;
  margin: 0 auto 0 auto;
}
.r-list {
  max-width: 450px;
  margin: 0 auto 0 auto;
  text-align: justify;
  text-align-last: justify;
}

.r-list:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.r-list li {
  display: inline;
}
.r-list a {
  font-family: monospace, sans-serif;
  color: $light-grey;
  font-size: 18px;
}
.r-list a:hover {
  color: $dark-grey;
}
.r-list a:active {
  color: $light-grey;
}

.r-list a:visited {
  color: $light-grey;
}

.r-list a.create {
  font-family: 'menschmensch_regular';
  color: $orange;
  font-size: 35px;
}
a.create:hover {
  color: $green;
}
h4.r-create {
  font-family: monospace, sans-serif;
  color: $green;
}
.fa-arrow-right, .fa-arrow-left {
  color: $green;
  font-size: 30px;
}
div.discover-bottom {
  margin-top: 0px;
}
#or {
  font-size: 20px;
  color: $orange;
  font-family: 'menschmensch_regular';
  margin-top: 3px;
}