// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #af703a;
$light-grey: #eff0eb;
$dark-grey: #7f868e;
$green: #2e7562;

.hero {
  background: url('header.png');
  background-color: $green;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
	height: 450px;
  margin-top: -37px;
}
#header-title {
  font-size: 150px;
  margin: 0 auto;
  text-align: center;
  height: 180px;
}
#header-title-first {
	text-align: center;
	padding-top: 10px;
	color: $orange;
  display: inline;
	margin-bottom: 0px;
  font-family: 'menschmensch_bold';
  -webkit-text-stroke: 5px $green;
  font-size: 165px;
	}

#header-title-last {
  display: inline;
  color: $light-grey;
  font-family: 'menschmensch_thin';

}
#header-subtitle {
	text-align: right;
	color: $orange;
  font-family: 'dingleberry_solidregular';
  font-size: 30px;
  letter-spacing: 7px;
  font-weight: bold;
  margin-right: 340px;

}
.location-search {
	width: 30%;
	margin: 0 auto;
  padding-top: 240px;
}
.search-form {
	text-align: center;
	padding: 10px;
}
form {
  display: inline;
}
div.container {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden !important;
  max-width: 100%;
  margin-top: 10px;
}
div.homepage-about {
	text-align: center;
  height: 350px;
  font-family: 'menschmensch_regular';
  font-size: 40px;
  color: $green;
  margin-top: 0;
  h1 {
  margin-top: 0;
  }
  h1 {
    text-align: center;
    font-family: 'menschmensch_regular';
    margin-bottom: 0px;
  }
}
.homepage-about-discover {
  text-align: center;
  height: 500px;
  background-color: $green;
  overflow-x: hidden;
}
.homepage-about-go {
  height: 580px;
  background-color: $green;
  overflow-x: hidden;
  text-align: center;

  }


.homepage-about-create {
  background-color: $light-grey;
  background-image: url('http://i.imgur.com/9OUxrEd.png');
  text-align: center;
  height: 325px;
  overflow-x: hidden;
  margin-bottom: 20px;
}

div.discover:last-child {
  margin-right: auto;
  }
.login-register {
	text-align: center;
	padding-top: 20px;
}
a.discover, .create, h2 {
	text-align: center;
	width: 100%;
  font-size: 60px;
  font-family: 'menschmensch_regular';
  color: $orange;
  margin-top: 25px;
}
.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;
  margin: 0 auto;
  width: 50%;

  @include clearfix;
  margin-bottom: $base-spacing;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }
    &.is-open {
      margin: 0 auto;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}
input.input {
  background-color: $orange;
  font-family: 'menschmensch_regular';
  font-weight: bold;
  font-size: 20px;
  width: 120px;
  border-radius: 10px;
}
input.input:hover {
  background-color: $dark-grey;
}
input#discover_destination {
  border: 4px solid $orange;
  background-color: $light-grey;
  font-family: 'menschmensch_regular';
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  height: 65px;
  color: $green;
}
#map-usa {
  margin: 0 auto;
  height: 350px;
  width: 500px;
}
#discover-about, #go-about {
  color: $light-grey;
  width: 50%;
  margin: 0 auto;
  font-family: monospace, sans-serif;
  font-size: 16px;
}
#create-about, #about {
  color: $dark-grey;
  width: 50%;
  margin: 0 auto 25px;
  font-family: monospace, sans-serif;
  font-size: 16px;
  }
.fa-foursquare, .fa-yelp {
  color: $green;
  font-size: 150px;
  display: inline;
  text-align: left;
  padding-right: 200px;
}
.fa-instagram {
  color: $orange;
  font-size: 150px;
  display: inline;
  text-align: center;
  padding-right: 200px;
}
.fa-reddit {
  color: $orange;
  font-size: 150px;
  display: inline;
  text-align: center;
}
.fa-plane, .fa-bus, .fa-car {
  font-size: 100px;
  color: $light-grey;
}
ul {
  margin-top: 30px;
}
div.discover-create {
  margin: 0 auto;

}
