// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-linkedin-square, .fa-github-square, .fa-twitter-square, .fa-external-link-square {
	color: $orange;
}
img.face {
	border-radius: 50%;
	border: 10px solid $orange;
	&:hover {
		-webkit-filter: grayscale(100%);
	}
}
.name {
	font-family: monospace, sans-serif;
	color: $dark-grey;
}
.project-det {
	font-family: monospace, sans-serif;
	color: $green;
	display: block;
	font-size: 16px;
}
#about {
	font-family: monospace, sans-serif;
	color: $dark-grey;
	font-size: 16px;
	margin-bottom: 0;
}
#about-project {
	font-family: monospace, sans-serif;
	font-size: 20px;
	color: $dark-grey;
	width: 50%;
	margin: 0 auto;
}
.iconmelon,
.im {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  fill: $orange;
  margin: 0 auto;
}
.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gif {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	max-height: 150px;
	border-radius: 20px;
	margin-bottom: 10px;
}
#gif {
	font-family: monospace;
	color: $orange;
	font-size: 16px;
}
#top-bar {
	height: 100px;
	background-color: $green;
	margin-top: -70px;
	margin-bottom: 10px;
}
