// Place all the styles related to the rambles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  @include outer-container;
  margin-top: 100px;
  margin-bottom: 10px;
}
.note-container {
  margin: 10px;
}
.ramble-notes {
  @include span-columns(6);
  text-align: center;
  padding-top: 10px;
  max-width: 450px;
  overflow: scroll;
  margin-left: 50px;
  margin-top: -40px;
  max-height: 825px;
}
#map {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: 8px solid $orange;
}
.notebody {
  margin: 15px auto 15px auto;
  text-align: left;
  padding-left: 10px;
  background: transparent;
  border: 2px solid $green;
  max-width: 425px;
}
.api-feed {
  @include span-columns(7);
  text-align: center;
  float: right;
  margin-top: 15px;
}
h1.ramble-create {
  font-family: 'menschmensch_regular';
  color: $orange;
  font-size: 40px;
  margin-bottom: 0px;
}
input#ramble_destination, #start_date, #end_date, #ramble_name {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: monospace, sans-serif !important;
  color: $dark-grey !important;
  border: 2px solid $green;
  border-radius: 10px;
  background-color: transparent;
}
input#ramble-button {
  background-color: $orange;
  color: $light-grey;
  height: 45px;
  line-height: .8;
  font-family: 'menschmensch_regular';
  font-weight: bold;
  font-size: 18px;

  &:hover {
    background-color: $dark-grey;
  }
}
.ramble-title {
  background-color: $green;
  height: 250px;
  margin-top: -70px;
  color: $orange;
  font-family: 'menschmensch_regular';
  padding-top: 120px;
  font-size: 70px;
  margin-bottom: 0px;
  font-weight: bold;
}
.start-end {
  font-size: 18px;
  font-family: monospace, sans-serif;
  color: $light-grey;
  margin-top: -7px;
  width: 100%;
}
textarea#note_body, input#note_tag_list, input#note_title, input#note_address, input#note_url {
  border: 2px solid $orange;
  border-radius: 10px;
  background: transparent;
  width:420px;
}
#note_title, #note_address, #note_url, #note_tag_list {
  margin-left: 15px;
}
input.btn.radius {
  background-color: $orange;
  font-family: 'menschmensch_regular';
}
h2.notes {
  color: $green;
}
#note-label, #tag-label {
  color: $green;
  font-family: 'menschmensch_regular';
  font-weight: bold;
  font-size: 16px;
}
#note-body, #note-tag, #note-title, #note-address, #note-url, #note-created {
  color: $dark-grey;
  font-family: monospace, sans-serif;
  word-wrap: break-word;
}
#note-body a{
  color: $orange;
}
div#feed-title {
  font-size: 60px;
  font-family: 'menschmensch_regular';
  color: $green;
  font-weight: bold;
}
#four-title, #insta-title {
  color: $orange;
  font-family: 'menschmensch_regular';
  font-size: 40px;
  margin-top: -10px;
}
#yelp-title, #red-title, #song-title {
  color: $green;
  font-family: 'menschmensch_regular';
  font-size: 40px;
}
div#f-venue-title {
  font-family: monospace, sans-serif;
  color: $green;
  font-size: 18px;
  font-weight: bold;
}
#f-address {
  font-family: monospace, sans-serif;
  color: $orange;
}
hr {
  width: 200px;
  margin: 0 auto;
}
hr.tip {
  width: 300px;
  border: 3px solid $orange;
}
li {
  padding-top: 15px;
}
a.four-tip, a.reddit-thread-title {
  color: $dark-grey;
  font-family: monospace, sans-serif;
}
i.fa.fa-foursquare.ramble, i.fa.fa-instagram.ramble, i.fa.fa-pencil-square-o.ramble {
  font-size: 35px;
  padding: 0px;
  color: $orange;
}
i.fa.fa-yelp.ramble, i.fa.fa-reddit.ramble {
  font-size: 35px;
  padding: 0px;
  color: $green;
}
.ramble-yelp {
  margin-top: 20px;
}
.yelp-venue-title {
  font-family: monospace, sans-serif;
  color: $orange;
  font-size: 18px;
  font-weight: bold;
}
.yelp-venue-tip {
  color: $dark-grey;
  font-family: monospace, sans-serif;
  font-weight: bold;
}
hr.y-tip, hr.i-tip {
  width: 300px;
  border: 3px solid $green;
  margin-bottom: 10px;
}
div.ramble-instagram {
  margin-top: 20px;
}
img.instagram-thumb {
  display: inline;
  font-family: monospace, sans-serif !important;
  color: $dark-grey !important;
}
button {
  background: $green;
  margin: 10px !important;
}
button:hover {
  background-color: $dark-grey;
}
#save {
  font-family: 'menschmensch_regular';
  color: $orange;
  font-weight: bold;
  font-size: 22px;
}
.fa-star-o {
  color: $orange;
  font-size: 22px;
}
.ramble-reddit, .ramble-songkick {
  margin-top: 20px;
}
a.edit-note, a.delete-note {
  color: $dark-grey;
  font-family: 'menschmensch_bold';
}
.fa-pencil-square-o, .fa-trash {
  color: $dark-grey;
  font-size: 18px;
}
#no-notes {
  font-family: monospace, sans-serif;
  font-size: 18px;
  margin-top: 10px;
  color: $dark-grey;
}
#ramble-dest {
  font-family: monospace, sans-serif;
  font-color: $light-grey;
  font-size: 18px;
  margin-top: -28px;
}
.edit-ramble-name {
  text-decoration: none;
  font-size: 18px;
  color: $light-grey;

  &:hover {
      color: $orange;
  }
}
.noteshow {
  display: none;
  margin: 15px auto 15px auto;
  text-align: left;
  padding-left: 10px;
  background: transparent;
  border: 2px solid $green;
  max-width: 450px;
}
.fshow, .yshow, .ishow {
  display: none;
}
.songshow {
  display: none;
}
.rshow {
  display: none;
  margin: 0 auto 0 auto;
  text-align: justify;
  text-align-last: justify;
  max-width: 300px;
}
.rshow li {
  display: inline;
}
.rshow a{
  color: $orange;
  font-family: monospace, sans-serif;
}
.note-show {
  margin: 15px auto 15px auto;
  text-align: left;
  padding-left: 10px;
  background: transparent;
  border: 2px solid $green;
  max-width: 450px;
}
.shows1, .shows2 {
  width: 200px;
  background: rgba(255,255,255,0.5);
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  border-radius: 20px;
}
.shows3 {
  width: 200px;
  background: rgba(255,255,255,0.5);
  margin: 0 auto 20px auto;
  padding: 10px 0 0 0;
  border-radius: 20px;
}
.shows4, .shows5, .shows6 {
  width: 200px;
  background: rgba(255,255,255,0.5);
  margin: 0 auto 20px auto;
  padding: 10px 0 0 0;
  border-radius: 15px;
}
.yelp-results, .four-results {
  margin-bottom: -15px;
}
#new_note {
  display: none;
}
#tag-each {
//  background: rgba(175,112,58,0.5);
//  padding: 10px 10px 10px 10px;
//  font-weight: 700;
  color: #7f868e;
  font-family: monospace, sans-serif;
}
#tag-each a{
  color: $orange;
}
.note-header {
  background: $green;
  min-height: 200px;
  margin-top: -85px;
}
#note-search-title {
  font-family: 'menschmensch_regular';
  color: $orange;
  font-size: 70px;
  padding-top: 90px;
  margin-bottom: -20px;
}
@media (max-width: 557px) {
  #note-search-title {
    font-size: 55px;
    padding: 110px 0 10px 0;
  }
}
@media (max-width: 480px) {
  #note-search-title {
    font-size: 40px;
    padding: 180px 0 10px 0;
  }
}
input#search.span2 {
  width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  border: 4px solid $orange;
  background: transparent;
  height: 65px;
  text-align: center;
  font-family: 'menschmensch_regular';
  display: inline;
  font-size: 20px;
}
.btn {
  background: $orange;
  font-family: 'menschmensch_regular';
  color: $light-grey;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

//index page//
#no-results {
  text-align: center;
  font-family: 'menschmensch_regular';
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
}
.note-results {
  display: inline-block;
  text-align: left;
  background: transparent;
  border: 2px solid $green;
  max-width: 440px;
  margin: 15px 0 15px 0;
  padding: 10px 10px 10px 10px;
  align: left;
}

@media (max-width: 480px) {
  #note-results {
    max-width: 480px;
    margin: 0 auto 0 auto;
  }
  .note-results {
    display: inline-block;
    text-align: left;
    background: transparent;
    border: 2px solid $green;
    width: 90%;
    margin: 15px 0 15px 0;
    padding: 10px 10px 10px 10px;
  }
}

.notesshow {
  max-width: 400px;
  font-family: 'menschmensch_regular';
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto 0 auto;
  word-wrap: break-word;
  line-height: 1.2;
}
.tagshow {
  max-width: 400px;
  text-align: justify;
  font-family: 'menschmensch_regular';
  font-size: 20px;
  margin: 0 auto 20px auto;
}
.note-destination {
  font-weight: 700;
  font-family: 'menschmensch_regular';
  color: $orange;
  background-color: #ffffff;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  float: right;
}
li.note-search {
  display: inline;
}
.y-address {
  font-family: monospace, sans-serif;
  color: $green;
  display: block;
}
#on-locations {
  color: $light-grey;
  font-family: 'menschmensch_regular';
  font-size: 30px;
}
@media (max-width: 557px) {
  #on-locations {
    font-size: 15px;
  }
}
.best-in-p {
  font-family: 'menschmensch_regular';
  font-size: 25px;
  color: $light-grey;
}
#delete-ramble {
  display: inline-block;
  width: 15px;
  float: none;
}
.fa-trash.ramble{
  margin-left: 0px !important;
  color: $light-grey;
  font-weight: normal;
  font-size: 18px;
  width: 50px;
  height: 50px;
}
#note-show-title, #note-show-address, #note-show-body, #note-show-tags, #note-show-created, #note-show-url {
  color: $green;
  font-family: 'menschmensch_regular';
  font-weight: bold;
  font-size: 16px;
}
#note-title-body, #note-address-body, #note-body-body, .note-url-body, #note-created-body, #note-tags-body {
  font-family: monospace, sans-serif;
  color: $dark-grey;
  font-size: 16px;
  font-weight: normal;
}
a.note-url {
  color: $orange;
}
a.yelp-tip {
  color: $dark-grey;
}
#reddit-dash {
  color: $green;
  font-weight: bold;
}
.instagram-save, .savenote, .yelp-save, .foursquare-save {
  cursor: pointer;
  cursor: hand;
}
.start-date {
  margin-right: 10px;
  display: inline;
}
.end-date {
  margin-left: 10px;
  display: inline;
}
#pagingControls ul, #pagingControls2 ul, #pagingControls3 ul, #pagingControls4 ul, #pagingControls5 ul{
  display: inline;
  padding-left: 0.5em;
}
#pagingControls li, #pagingControls2 li, #pagingControls3 li, #pagingControls4 li, #pagingControls5 li{
  display: inline;
  padding: 0 0.5em;
  color: #7f868e;
  font-family: 'menschmensch_regular';
  font-size: 18px;
}
#pagingControls a, #pagingControls2 a, #pagingControls3 a, #pagingControls4 a, #pagingControls5 a {
  color: $orange;
}

// for songkick

.ramble-song-results {
  padding: 0 0 0 4em;
  font-family: monospace, sans-serif;
  font-weight: bold;
  color: $dark-grey;
  text-align: left;
  width: 70%;
  margin: 0 auto 0 auto;
  text-indent: -1.9em;
}