// Place all the styles related to the rambles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container {
	@include outer-container;
	margin-top: 100px;
}
.ramble-title {
	text-align: center;
}
.ramble-notes {
	@include span-columns(4);
	text-align: center;
	padding-top: 10px;
	max-width:345px;
	max-height:650px;
	overflow: scroll;
}
.map {
	width: 50%;
	margin: 0 auto;
}
.recommended-notes {
	padding: 10px;
}
.notebody {
	margin-top:15px;
	margin-bottom:15px;
	text-align:left;
	padding-left:50px;
}
.api-feed{
	@include span-columns(8);
	text-align: center;
	padding-top: 10px;
	float: right;
}
h1.ramble-create {
	font-family: 'menschmensch_regular';
	color: $orange;
  	font-size: 40px;
  	margin-bottom: 0px;
}
input#ramble_destination, #start_date, #end_date {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-family: monospace, sans-serif;
    color: $dark-grey;
    border: 2px solid $green;
    border-radius: 10px;
    background-color: transparent;
}
input#ramble-button {
	background-color: $orange;
  	color: $green;
  	height: 45px;
  	line-height: .8;
  	font-family: 'menschmensch_thin';


  &:hover {
    background-color: $dark-grey;
  }
}
