// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo {
	width:400px;
	margin-left:125px;
	margin-top:40px;
	display: inline-block;
	// border:1px solid black;
}

.usershow h1 {
	text-align:center;
}

.userinfo {
	float:right;
	margin-right:400px;
	margin-top:180px;
	// border:1px solid black;
}

.name {
	font-weight:900;
	margin-bottom:100px;
}

.bio {
	max-width: 300px;
}
