// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #7f868e;


.photo {
	width: 400px;
	height: 375px;
	border-radius: 10px;
	background: $light-grey;
	display: inline-block;
	max-height: 450px;
	max-width: 475px;
	// border:1px solid black;
}

.usershow h1 {
	text-align:center;
}

.userinfo {
	float:right;
	margin-right:300px;
	// border:1px solid black;
}

.name {
	font-size:30px;
	font-weight:bold;
	margin-bottom:40px;
}

.bio {
	max-width: 300px;
}

.userrambles p{
	@include span-columns(6);
}

.usertrips {
	text-align:center;
	margin-top:40px;
}

.usertrips p {
	display: inline-block;
}

.usertrips h3 {
	margin-bottom:70px;
}

.usernotes p {
	padding-top:30px;
	@include span-columns(6);
}

.saved {
	text-align:center;
	margin-top:30px;
}

.container {
	@include outer-container;
}
.userrambles {
	background-color: rgba(127,134,142, .3);
	border-radius: 5px;
	}
	
.noteshow {
	display:none;
}
h1.profile {
	font-family: 'menschmensch_regular';
	color: $orange;
	font-size: 35px;
}
.usershow {
	@include outer-container;

}
.photo {

}
.userinfo {

}
img.user-img {
	border: 8px solid $green;
	border-radius: 10px;
	margin-top: 40px;
}
input#user_avatar {
	display: block;
	margin: 0 auto;
	width: 50%;
}
input.user-img-add {
	background: $orange;
}
span#user-name-label, span#user-residence-label, span#user-bio-label {
	font-family: 'menschmensch_regular';
	color: $orange;
	font-size: 30px;
	font-weight: normal;
}
span#user-name, span#user-residence, span#user-bio {
	font-family: monospace, sans-serif;
	color: $dark-grey;
	font-size: 20px;
	font-weight: normal;
}
a.editname, a.editresidence, a.editbio {
	font-family: 'menschmensch_regular';
	color: $green;
	font-size: 16px;
	display: block;
}
.lives-in {
	margin-bottom: 40px;
}